.category{
    padding-top: 10px;
    padding-bottom: 10px;
  
    border: 1px solid purple;
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    border-radius: 10px;
    background-color: lavender;
    margin-top: 20px;
    width: 200px;
  
}
.category:hover{
    background-color: powderblue;
}
.link{

    text-decoration: none;
    color: black;
    
}
